EXPO_PUBLIC_SUPABASE_URL=https://ccacrntppglychptygrn.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNjYWNybnRwcGdseWNocHR5Z3JuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTE0MTI0NTgsImV4cCI6MjEwNjk4ODQ1OH0._NpUTkQSs9Lk602h5jEzodnvFRiqpz4iDcRbCX0EcZs
